<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754263213803-43m73ldfm1371t8hbdotl5isuu9rg5lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754263213803-43m73ldfm1371t8hbdotl5isuu9rg5lv</string>
	<key>API_KEY</key>
	<string>AIzaSyCCpyQ_tVaC4lVpnOLxFEPOKDnW2ISy1XM</string>
	<key>GCM_SENDER_ID</key>
	<string>754263213803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-ed1e2</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-ed1e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754263213803:ios:f4d57ab463b4b259cf20ae</string>
</dict>
</plist>